@model TesteWeb.Models.Usuarios

@{
    ViewData["Title"] = "Detalhes do Usuário";
}

<h1>Informações do Usuário</h1>

<div>
    <h4>Usuarios</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Celular)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Celular)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataNascimento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataNascimento)
        </dd>
    </dl>
</div>
<div>

    <form asp-action="Details">
        <input asp-action="Edit" asp-route-id="@Model.Id" type="submit" value="Editar Usuário" class="btn btn-light" />
        <input asp-action="Index" type="submit" value="Voltar para Lista de Usuários" class="btn btn-light" />
    </form>
</div>
